<html>
        <head>
                <title>Carol's blog</title>
        </head>
<body>
    <p>Hi there!</p>
    <p>It works!</p>
    <div>
            <h1><a href="/">Carol's Blog</a></h1>
        </div>

        <div>
            <p>published: 18.01.2020, 13:00</p>
            <h2><a href="">My first post</a></h2>
            <p>Introducción a Data Science.</p>
        </div>

        <div>
            <p>published: 18.01.2020, 13:01</p>
            <h2><a href="">My second post</a></h2>
            <p>Introducción a Django.</p>
        </div>  
</body>
</html>